<div class="container">
  <h1>Stupid Coaching</h1>
  <p>Ask your coach for anything:</p>
<form action="http://localhost:3000/answer">
  <input type="text" id="input" name="question">
  <button type="submit" id="btn">click me!</button>
</form>
</div>


